---
const data = [
  {
    key: "Layout",
    links: [
      { text: "Display", href: "https://v3.tailwindcss.com/docs/display" },
      {
        text: "Visibility",
        href: "https://v3.tailwindcss.com/docs/visibility",
      },
      { text: "Overflow", href: "https://v3.tailwindcss.com/docs/overflow" },
      { text: "Position", href: "https://v3.tailwindcss.com/docs/position" },
      {
        text: "Top / Right / Bottom / Left",
        href: "https://v3.tailwindcss.com/docs/top-right-bottom-left",
      },
    ],
  },
  {
    key: "Flexbox and Grid",
    links: [
      {
        text: "Flex Basis",
        href: "https://v3.tailwindcss.com/docs/flex-basis",
      },
      {
        text: "Flex Direction",
        href: "https://v3.tailwindcss.com/docs/flex-direction",
      },
      { text: "Flex Wrap", href: "https://v3.tailwindcss.com/docs/flex-wrap" },
      { text: "Flex", href: "https://v3.tailwindcss.com/docs/flex" },
      { text: "Flex Grow", href: "https://v3.tailwindcss.com/docs/flex-grow" },
      {
        text: "Flex Shrink",
        href: "https://v3.tailwindcss.com/docs/flex-shrink",
      },
      { text: "Order", href: "https://v3.tailwindcss.com/docs/order" },
      {
        text: "Grid Template Columns",
        href: "https://v3.tailwindcss.com/docs/grid-template-columns",
      },
      {
        text: "Grid Column Start / End",
        href: "https://v3.tailwindcss.com/docs/grid-column",
      },
      {
        text: "Grid Template Rows",
        href: "https://v3.tailwindcss.com/docs/grid-template-rows",
      },
      {
        text: "Grid Row Start / End",
        href: "https://v3.tailwindcss.com/docs/grid-row",
      },
      {
        text: "Grid Auto Flow",
        href: "https://v3.tailwindcss.com/docs/grid-auto-flow",
      },
      {
        text: "Grid Auto Columns",
        href: "https://v3.tailwindcss.com/docs/grid-auto-columns",
      },
      {
        text: "Grid Auto Rows",
        href: "https://v3.tailwindcss.com/docs/grid-auto-rows",
      },
      { text: "Gap", href: "https://v3.tailwindcss.com/docs/gap" },
      {
        text: "Justify Content",
        href: "https://v3.tailwindcss.com/docs/justify-content",
      },
      {
        text: "Justify Items",
        href: "https://v3.tailwindcss.com/docs/justify-items",
      },
      {
        text: "Justify Self",
        href: "https://v3.tailwindcss.com/docs/justify-self",
      },
      {
        text: "Align Content",
        href: "https://v3.tailwindcss.com/docs/align-content",
      },
      {
        text: "Align Items",
        href: "https://v3.tailwindcss.com/docs/align-items",
      },
      {
        text: "Align Self",
        href: "https://v3.tailwindcss.com/docs/align-self",
      },
      {
        text: "Place Content",
        href: "https://v3.tailwindcss.com/docs/place-content",
      },
      {
        text: "Place Items",
        href: "https://v3.tailwindcss.com/docs/place-items",
      },
      {
        text: "Place Self",
        href: "https://v3.tailwindcss.com/docs/place-self",
      },
    ],
  },
  {
    key: "Spacing",
    links: [
      { text: "Padding", href: "https://v3.tailwindcss.com/docs/padding" },
      { text: "Margin", href: "https://v3.tailwindcss.com/docs/margin" },
      { text: "Space Between", href: "https://v3.tailwindcss.com/docs/space" },
    ],
  },
  {
    key: "Sizing",
    links: [
      { text: "Width", href: "https://v3.tailwindcss.com/docs/width" },
      { text: "Min-Width", href: "https://v3.tailwindcss.com/docs/min-width" },
      { text: "Max-Width", href: "https://v3.tailwindcss.com/docs/max-width" },
      { text: "Height", href: "https://v3.tailwindcss.com/docs/height" },
      {
        text: "Min-Height",
        href: "https://v3.tailwindcss.com/docs/min-height",
      },
      {
        text: "Max-Height",
        href: "https://v3.tailwindcss.com/docs/max-height",
      },
      { text: "Size", href: "https://v3.tailwindcss.com/docs/size" },
    ],
  },
  {
    key: "Typography",
    links: [
      { text: "Font Size", href: "https://v3.tailwindcss.com/docs/font-size" },
      {
        text: "Font Style",
        href: "https://v3.tailwindcss.com/docs/font-style",
      },
      {
        text: "Font Weight",
        href: "https://v3.tailwindcss.com/docs/font-weight",
      },
      {
        text: "Letter Spacing",
        href: "https://v3.tailwindcss.com/docs/letter-spacing",
      },
      {
        text: "Line Height",
        href: "https://v3.tailwindcss.com/docs/line-height",
      },
      {
        text: "Text Align",
        href: "https://v3.tailwindcss.com/docs/text-align",
      },
      {
        text: "Text Transform",
        href: "https://v3.tailwindcss.com/docs/text-transform",
      },
    ],
  },
  {
    key: "Borders",
    links: [
      {
        text: "Border Radius",
        href: "https://v3.tailwindcss.com/docs/border-radius",
      },
      {
        text: "Border Width",
        href: "https://v3.tailwindcss.com/docs/border-width",
      },
      {
        text: "Border Style",
        href: "https://v3.tailwindcss.com/docs/border-style",
      },
    ],
  },
];
---

<div
  class="-mx-4 grid sm:grid-cols-2 md:grid-cols-3"
  data-uk-grid="masonry: pack"
>
  {
    data.map((a) => (
      <div class="p-4">
        <div class="uk-card uk-card-body">
          <h3 class="uk-card-title">{a.key}</h3>
          <ul class="uk-list uk-list-hyphen mt-4">
            {a.links.map((b) => (
              <li>
                <a class="uk-link" href={b.href} target="_blank">
                  <span class="mr-2">{b.text}</span>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    ))
  }
</div>
