---
import type { GetStaticPaths } from "astro";
import paths from "data/snippets/2.1";

export const partial = true;
export const getStaticPaths = paths satisfies GetStaticPaths;

const { content } = Astro.props;
---

<div class="uk-anmt-fade min-h-10">
  <Fragment set:html={content} />
</div>
