<div class="uk-inline">
  <button class="uk-btn uk-btn-ghost uk-btn-sm" type="button">
    <span>v2.1</span>
    <span class="ml-1 size-4" data-uk-drop-parent-icon></span>
  </button>
  <div
    class="uk-drop uk-dropdown min-w-56"
    data-uk-dropdown="mode: click; animation: uk-anmt-slide-top-sm"
  >
    <ul class="uk-nav uk-dropdown-nav fr-nav-default">
      <li class="uk-active">
        <a class="uk-drop-close" href="#">v2.1 (Tailwind CSS v4)</a>
      </li>
      <li class="uk-nav-divider"></li>
      <li class="uk-nav-header">Legacy Docs</li>
      <li>
        <a
          class="uk-drop-close"
          href="https://dos.franken-ui.dev/docs/2.1/installation"
        >
          v2.1 (Tailwind CSS v3)
        </a>
      </li>
      <li>
        <a href="https://dos.franken-ui.dev/docs/2.0/installation"> v2.0 </a>
      </li>
      <li>
        <a href="https://uno.franken-ui.dev/docs/introduction"> v1.1 </a>
      </li>
    </ul>
  </div>
</div>
